{% extends "base.html" %}
{% block content %}
    <main class="d-flex align-items-center justify-content-center">
        <div class="container ">
            <h1 class="text-center mt-5">{{isi}}</h1>
            <h2 class="text-center">Ini adalah halaman tentang saya.</h2>
            <center><img src="../static/images/profile.jpg" alt="Profile Picture" width="200px" height="200px"></center>
            <h4 class="text-left">Nama saya sutan mara muhammad saya berumur 16 tahun saya lahir di aceh tamiang,Pernah Bersekolah di tk di arrahmania,SD NEGRI 2 PERCONTOHAN,SMP NEGRI 1 KARANG BARU,SMA NEGRI 1 KARANG BARU,dan sekarang saya bersekolah di SMK NEGERI 1 KARANG BARU jurusan RPL (REKAYASA PERANGKAT LUNAK) saya anak ke 2 dari 3 bersaudara, hobi saya bermain game dan coding, cita-cita saya adalah menjadi seorang programmer yang sukses dan kaya raya amin.
            </h4>
            a link to <a href="https://www.instagram.com/sut4nmrmhd/">my Instagram</a>
        </div>
    </main>
{% endblock %}
